html{ 
  background-color: white;
}

body{
  font-family:'Lato', sans-serif;
}

/*CLASS*/
.header-container{
  padding: 30px;
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.sXO69AoJXeHykluP52ZBcwHaEK&pid=Api&P=0&w=379&h=213");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 5px #111;
}

.menubar {
  background: #26374A;
  width: auto;
  text-decoration: none;
  display: flex;
  align-items: left;
  justify-content:center
}
.menubar a{
  color: white;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
.menubar a:hover{
  text-decoration: underline;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.about{
  background: #F5F5F5;
  color: #26374A;
  padding: 20px 20px 20px 20px;
}
.skill{
  background-color: antiquewhite;
}
.footer{
  font-size:x-small;
  text-indent: 10px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
p{
    margin-top: 6px;
}

/*TABLE*/
table, th, td{
    border: 1px solid; 
    width: 100%; 
    font-size: 16px;  
}
td{
    width: 50%;
    padding-left: 25px;
    padding-right: 10px;
}

/*LIST*/
ul{
    list-style-type: square;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #26374A;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
  }
input[type=submit] {
    background-color: #ED3833;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
  }
input[type=submit]:hover {
    text-decoration: underline;
  }  

  .form-container {
    border-radius: 5px;
    background-color: #26374A;
    padding: 20px;
    color: white;
  }


  /* Preview Card Style*/
  .image-card{
    width: 100%;
    height: 500px;
    background-color: #fff9f9;
    transition: all 0.6 cubic-bezier( .25, .8, .25, 1);
    border-style: solid;
    border-color: #26374A;
    overflow: hidden;
  }
  .image-card:hover{
    box-shadow: 0 0.1rem .8rem #26374A;
    transition: all 0.6s cubic-bezier( .25, .8, .25, 1);
  }
  .image-card .image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    height: 250px;
    z-index: 0;
  }
  .image-card .content{
    padding: 10px;
    font-size: 14px;
  }
  .image-card .content p:last-child{
    margin-bottom: 0;
  }
  .image-card .title{
    margin-bottom: 5px;
  }
  .image-card .title h2{
    font-family: 'Avenir', times;
    font-size: 23px;
    font-weight: 500;
    color: #111;
    line-height: 30px;
    margin: 0;
  }
  .image-card .divider{
    position: relative;
    width: 100px;
    height: 2px;
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 15px;
    transition: all 0.3s cubic-bezier( .25, .8, .25, 1);
    z-index: 0;
  }
  .image-card.excerpt{
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    line-height: 27px;
    margin-bottom: 30px;
  }
  .image-card .booknow{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image-card .booknow a.button-booknow{
    display: inline-block;
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    text-decoration: none;
    background-color: #26374A;
    color: white;
    padding: 12px 25px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  .image-card.booknow a.button-booknow:hover{
    background-color: #707070;
  }
